doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    a(href="/") Return to the homepage
    h1= title

    form(action="/update-cobj" method="POST")
      div
        label(for="name") Name
        input#name(type="text" name="name" required)
      div
        label(for="brand") Brand
        input#brand(type="text" name="brand" required)
      div
        label(for="plate") Plate
        input#plate(type="text" name="plate" required)
      button(type="submit") Create record
